*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    min-width: 320px;
}

body{
  
}

a{    
    text-decoration: none;
    color: white;
}
/* ---------------------------------------------------------------- */

.wrapper{
    padding: 179px 64px 57px 64px;
    overflow: hidden;
    min-height: 100%;
    display: flex;
}

[class*="__container"]{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}
/* ---------------------------------------------------------------- */


/* ================================= Header ================================ */

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}
.header__container {
    min-height: 117px;
    display: flex;
    align-items: center;
    background: #B269EB;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.32);    
}
.logo {
    margin-right: 427px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #fff;

}

.logo img{
    margin-left: 36px;
    margin-right: 30px;
    width: 75px;
    height: 75px;

}

.menu__list {
    display: flex;
    align-items: center;
    column-gap: 70px;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.menu__link:last-child {
    width: 45px;
    height: 45px;
}
.menu__link:hover{
    text-decoration: underline;
}
li{
    list-style: none;
}



@media(max-width:1379px){
    .header__logo{
        margin-right: 400px;
    }
    .menu__list {
        column-gap: 40px;
        font-weight: 600;
        font-size: 30px;
    }
}

@media(max-width:660px){
    .header__logo{
        width: 185px;
        margin-right: 60px;
        font-size: 16px;
    }
    
    .menu__list{
     column-gap: 20px;
     font-weight: 500;
     font-size: 16px;
    }

    .header__logo img{
        margin-left: 50px;
        margin-right: 5px;
        width: 55px;
        height: 55px;

    }
}
 
@media(max-width:569px){
    .header__logo{
        width: 185px;
        margin-right: 20px;
        font-size: 14px;
        font-weight: 400;
    }

    .header__logo p {
        display: none;
    }

    .header__logo img{
        margin-left: 40px;
    }
    /* .menu__list {
        column-gap: 10px;
    } */
}
 

/* ============================== Main page ================================ */

.page{
    flex: 1 1 auto;
}

.page__container {
    width: 1312px;
    height: 788px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(110deg, #B2C3ED 0%,#c283f1 0%, rgba(224, 64, 238, 0.00) 100%);
    box-shadow: 5px 4px 14px 0px rgba(0, 0, 0, 0.30);
    position: relative;
}

/* --------------------------------Side Menu------------------------------------------ */
.page__side-menu {
    width: 332px;
    height: 100%;
    padding: 26px 0px 0px 31px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: #4C99AA;
    position:absolute;
    top:0;
    left:0;
    box-shadow: 7px 4px 14px 0px rgba(0, 0, 0, 0.33);

}

.menu-side__photo {
    width: 138px;
    height: 131px;
    margin-bottom: 26px;
    border-radius: 100px;
    background: rgba(190, 186, 186, 0.76);
    position:relative;
}

.menu-side__photo img{
    position:absolute;
    top: 21px;
    left: 40px;
}

.menu-side__photo span {
    display: block;
    padding-top: 75px;
    padding-left: 17px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color:#000000;
}

/* ---------------------------------------------------------------------------- */

.menu-side__list {
    margin: 0px  0px 22px 8px;
}

.menu-side__list li{
    margin-top: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.separate-line{
    width: 332px;
    margin-left: -31px;
    margin-bottom: 28px;
    height: 4px;
    background:  #C6EDED;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
/* ------------------------------------------------------------------------------ */
.active__btn{
    width: 189px;
    height: 39px;
    margin-left: 9px;
    margin-bottom: 36px;
    border-radius: 10px;
    background: #8CD5E5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Open Sans', sans-serif;
    color: white;
    line-height: 1;
    font-size: 15px;
    font-weight: 700;
}

.active__btn:hover{
    background-color:  #B38CE5;
}


/* -----------------------------------------Main Block Page------------------------------------------ */

.page__logo img{
    margin: 0;
    position: absolute;
    top: 36px; 
    left: 384px;
}


.page__text{
    width: 100%;
    padding-left: 458px;
    padding-top: 54px;
    font-family: Roboto;
    color: #605757;
    line-height: 166.667%;
    letter-spacing: 0.3px;
    font-weight: 400;
    font-size: 30px;
}

@media(max-width:1423px){
    .page__container {
        width: 1100px; 
    }
  
}
@media(max-width:1199px){
    .page__container {
        width: 900px; 
        
    }
    .page__text{
        font-size: 25px;
        text-align: justify;
    }
    
}
@media(max-width:946px){
    .page__container {
        width: 700px; 
        
    }
    .page__text{
        padding-left: 350px;
        font-size: 22px;
        text-align:left;

    }
    .page__side-menu {
        width: 250px;

    }
    .menu-side__list li{
        font-size: 18px;
        font-weight: 600;
    }
  
    .separate-line{ 
        width: 250px;
    }
    .page__logo img{
        
        left: 270px;
    } 
}

@media(max-width:770px){
    .wrapper{
        padding: 179px 20px 57px 20px;
        display: flex;
        justify-content: center;
    }

    .page__container {
        width: 568px; 
    }
    .page__text{
        padding-left: 150px;
        font-size: 20px;
        text-align:left;
    }
    .page__side-menu {
        width: 150px;
        padding: 26px 0px 0px 10px;

    }
    .menu-side__list li{
        font-size: 10px;
        font-weight: 400;
    }
  
    .separate-line{ 
        width: 150px;
        margin-left: -10px;
    }
    
    .active__btn{
        width: 125px;
        height: 50px;
        margin-left: 0px;
        margin-bottom: 36px;
        border-radius: 10px;
        font-size: 13px;
        font-weight: 600;
    }
    .page__logo img{
        display: none;
    }
    
    .menu-side__photo {
        width: 120px;
        height: 120px;
    }
    
    .menu-side__photo span {
        font-size: 12px;
        font-weight: 600;
    }

    .menu-side__photo img{
        position:absolute;
        top: 21px;
        left: 30px;
    }   
}

@media(max-width:569px){
    .wrapper{
        padding: 179px 20px 57px 20px;
        display: flex;
        justify-content: center;
    }
    .page__container {
        width: 300px; 
    }
    .page__text{
        padding-left: 120px;
        font-size: 16px;
        line-height: 1.5;

    }
    .page__side-menu {
        width: 120px;
        padding: 26px 0px 0px 5px;

    }
    .menu-side__list li{
        font-size: 10px;
        font-weight: 200;
    }
  
    .separate-line{ 
        width: 120px;
        margin-left: -5px;
    }
   
    .active__btn{
        width: 110px;
        height: 50px;
        margin-left: 0px;
        margin-bottom: 36px;
        border-radius: 10px;
        font-size: 13px;
        font-weight: 600;
    }
    .page__logo img{
        display: none;
    }
    
    .menu-side__photo {
        width: 100px;
        height: 100px;
    }
    
    .menu-side__photo span {
       display: none;
    }

    .menu-side__photo img{
        width: 48px;
        height: 44px;
        position:absolute;
        top: 25px;
        left: 25px;
    }   
}




