
.page__form-wrapper{
    width: 100%;
    padding-top: 158px;
    padding-left: 478px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page__form-container{
    width: 630px;
    display: flex;
    gap: 66px;
    margin-bottom: 12px;
    justify-content:space-between;
    align-items: center;
}


form{
    width: 100%;
}

label {
    display: block;
    margin-bottom: 15px;
    color: #000;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 700;
}
  
input{
    display: inline-block;
    width: 281px;
    height: 50px;
    padding: 15px;
    font-size: 15px;
    color: black;
    border: 1px solid #2A6EF0;
    background-color:  rgba(255, 255, 255, 0.66);;
    border-radius: 10px;
    stroke-width: 1px;
}

textarea{
    width: 628px;
    height: 196px;
    margin-bottom: 27.2px;
    padding: 15px;
    outline: 0;
    font-size: 15px;
    color: black;
    border: 1px solid #2A6EF0;
    background-color: rgba(255, 255, 255, 0.66);
    border-radius: 10px;
}

button{
    width: 623px;
    height: 55px;
    padding: 15px 0;
    border: none;
    border-radius: 10px;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 700;
    background: #8553EE;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);   
}

@media(max-width:1426px){
    .page__form-wrapper{
        padding-left: 380px;
    }

}

@media(max-width:1200px){
    
    .page__form-container{
        width: 430px;
        gap: 50px;
    }

    input{
        width: 181px;
    }
    
    textarea{
        width: 428px;
    }
    
    button{
        width: 423px;
    }
    

}

@media(max-width:946px){

    .page__form-wrapper{
        padding-left: 315px;
    }

    .page__form-container{
        width: 302px;
        flex-wrap: wrap;
        gap: 12px;
        
    }

    input{
        width: 300px;
    }
    
    textarea{
        width: 300px;
    }
    
    button{
        width: 300px;
        font-size: 18px;
    }
}

@media(max-width:773px){

    .page__form-wrapper{
        padding-left: 200px;
    }

}

@media(max-width:583px){

    .page__container {
        width: 400px;
    }

    .page__form-wrapper{
        padding-left: 155px;
    }

    .page__form-container{
        width: 102px;
    }

    input{
        width: 200px;
    }
    
    textarea{
        width: 200px;
    }
    
    button{
        width: 200px;
        font-size: 16px;
    }
    
}
@media(max-width:418px){

    .page__container {
        width: 320px;
    }

    .page__form-wrapper{
        padding-left: 120px;
    }

    label{
        font-size: 12px;
    }

    input{
        width: 170px;
    }
    
    textarea{
        width: 170px;
    }
    
    button{
        width: 170px;
        font-size: 14px;
    }

}





 

 